body{
    background-color: rgb(230, 230, 230);
}
header{
    height: 70px;
    background-color: white;
    margin-top: 0%;
}
header>h1{
    display: inline;
}
header>img{
    padding-top: 5px;
}
.container{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    border-top-left-radius: 10px;
}