body{
    background-color: #f6f8f9;
}
header{
    height: 70px;
    background-color: white;
    margin-top: 0%;
}
header>h1{
    display: inline;
}
header>img{
    padding-top: 5px;
}
.container1{
    background-color: white;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border-top-left-radius: 10px;
}
#buttonscontainer{
    margin-bottom: 5px;
    border-radius: 8px;

}
#button1{
  border-radius: 6px;
  border-style: none;
  padding: 5px;
  width: 90px;
  height: 30px;
  color: white;
  background-color: #47adf1;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 10px;
}
#button2{
    border-radius: 6px;
    border-style: solid;
    border-color: #d2d6da;
    padding: 5px;
    width: 90px;
    height: 30px;
    color: #d2d6da;
    background-color: #ffffff;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.maincontainer{
    margin-top: 5px;
    margin-bottom: 2px;
    border-style: solid;
    border-color:#f6f8f9;
}
div>h3{
    margin-top: 25px;
    padding-left: 6%;
    color: #444851;
}
.checkmark{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border-style: solid;
    border-color: #6cc4af;
    color: #6cc4af;
    margin-left: 6%;
    padding-left: 2px;
    padding-bottom: 3px;
}
.errormark{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border-style: solid;
    border-color: #ff2323;
    color: #ff2323;
    margin-left: 6%;
    padding-left: 2px;
    padding-bottom: 5px;
}
.listitems{
    display: inline-block;
    color: #444851;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 15px;
}   

.bluebuttons{
    background-color: #45abea;
    width: 30px;
    height: 10px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#purplebutton{
    background-color: #9c72e4;
    width: 30px;
    height: 10px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#greenbutton{
    background-color: #64c0a9;
    width: 30px;
    height: 10px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#orangebutton{
    background-color: #f29e33;
    width: 30px;
    height: 10px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#pinkbutton{
    background-color: #d863a1;
    width: 30px;
    height: 10px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#lightgreenbutton{
    background-color: #b0c926;
    width: 30px;
    height: 10px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}